.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }
  
  .gallery-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-bottom: 15px;
    text-decoration: none;
    color: #333;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
  }
  
  .gallery-item img {
    width: 252px;
    height: 428px;
  }
  
  .gallery-item caption {
    margin-top: 5px;
    font-size: 0.75em;
  }
  
  .gallery-item:hover {
    background-color: #333;
  }
  
  .gallery-item:hover caption {
    color: #fff;
  }
  
  @media(max-width: 1100px) {
    .gallery {
      width: 100%;
    }
    .gallery-item {
      width: 50%
    }
  }
  
  @media(max-width: 800px) {
    .gallery-item {
      width: 100%;
    }
  }
  
  
  
  
 
 
  
  @media(max-width: 670px) {
    body::before {
      background-color: rgba(0,0,0,0.5);
      margin-top: 0px;
      padding: 10px;
      color: #fff;
    }
    .gallery {
      margin-top: 35px;
    }
  }